{% extends "museum/layout.html" %}

{% block content %}
<h1>Exhibits</h1>
{% if exhibits %}
<ul>

    {% for exhibit in exhibits %}
    <li>
        Name: {{ exhibit.name }} 
    </li>
    <li>
        Date: {{ exhibit.admission_date }}
    </li>
    <li>
        Art form: 
        <ul>
            {% for aform in exhibit.art_form.all %}
            <li>
                {{aform}}
            </li>
            {%endfor%}
        </ul>
    </li>
    <li>
        Observer: {{ exhibit.observer }}
    </li>
    <li>
        photo: <img src="{{ exhibit.photo}}" alt="Photo doesnt exist" style="max-width: 500px;">
    </li>
    {% if exhibit.exposition %}
    <li>
        exposition: {{ exhibit.exposition }}
    </li>
    {% endif%}
    {% if exhibit.exhibition %}
    <li>
        exhibition: {{ exhibit.exhibition }}
    </li>
    {% endif%}


    <hr/>

    {% endfor %}

</ul>
{% else %}
    <p>There are no exhibit</p>
{% endif %}
{% endblock %}